*{
    margin: 0;
}

.namePrincipal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D8D8D8;
    color: #FFFF;
}

.form{
    display: flex;
    justify-content: flex-end;
}

.form-inputs{
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 100vh;
    background-color: #28a745b3;
    
}

label, a{
    margin: 3px;
    font-size: 22px;
}

.titulo{
    display: flex;
    justify-content: center;
    font-size: 60px;   
    width: 6000px;
}

.sub-titulo{
    display: flex;
    justify-content: center;
    width: 600px;
}

.sub{
    display: flex;
    justify-content: center;
    color: #FFFF;
}

input[type=email], input[type=password], input[type=submit]{
    border-radius: 5px;
    margin: 15px 5px;
    padding: 15px;
}

input[type=submit]{
    background-color: #28a745;
    color: #FFFF;
    font-size: 18px;
}