*{
    margin: 0;
    padding: 0;
}

.menu{
    background-color: #28a745b3;
    width: 300px;
    height: 100vh;
}

.buttonSidebar{
    display: flex;
    align-items: center;
    padding: 1px;
}


img{
    color:#FFFF;
    width: 40px;
    margin: 10px;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

a, li{
    text-decoration: none;
    padding: 10px;
    color: black; 
    list-style: none;  
}

li{
    width: 280px;
    padding-left: 50px;
}

li:hover{
    border: solid 2px #FFFF;
    cursor: pointer;
}